@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Science+Gothic:wght@100..900&display=swap');
*{margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }

html{scroll-behavior: smooth;}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9e9e9;
}

a{text-decoration: none;
    color:black;
    cursor: pointer;}

div{display: block;}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
 
}

button{cursor: pointer;
    color:black;
    height:20px;
    width:20px;}

h3{
  font-size: 20px;
  margin-bottom: 5px;
}
p {
  font-size: 18px;
  word-break: break-word;
  line-height: 1.5;
}

.hidden {
  display: none;
}

/* Landing-Search */

.landing__container{position: relative;
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0 auto;}

.landing__img{width:100%;
  display:block;
    height: 500px;
   
    object-fit: cover;
  }

.input__wrapper {
  position:absolute;
  top: 50%;
  left:70%;
  transform: translate(-40%, -40%);

}

.landing__title{color:#fff;
  font-size:48px;
  font-weight:700;
  margin-bottom:20px;
  }
.landing__subtitle{color:#fff;
  margin-bottom:20px;
  line-height: 1.5;
    font-size:24px;
  } 

.search{position: relative;
  display: flex;
  align-items: center;
    width:300px;
    height:30px;
    border: 1px solid #ccc;
    border-radius: 5px;}

.truncate{width:250px;
  height:30px;
  overflow: hidden;
  padding:10px;
  font-size: 18px;;

}

.search__button{position: absolute;
  right:0;
  font-size: 18px;
  height:29px;
  width:50px;
  border:none;
  background-color:#fff;
  color:black;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  
}
/* Movie Filter */
.section__filter{
  width:100%;
  display:flex;
  justify-content: space-between;
    align-items: center;
  height:100%;
  margin-bottom:20px;
  margin-top:0 auto;
  padding:20px ;
  background-color: #104f70;;
}

.section__title{
  color:#fff;
  padding-left:5px;
  font-size:28px;
  font-weight:600;

}

.filter__label{color:black;
  padding-right:10px;
  font-size:24px;
  font-weight:500;
  width:200px;
  
}

/* Movie List */
#movies {
  flex: 1;
}


.movie-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.movies__loading .fa-spinner{color:#317ba2;
  font-size:100px;
  position:absolute;
  top:75%;
  left:50%;
  transform: translate(-50%, -50%);
  animation: spin 750ms linear infinite; 
  z-index:10; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.movie__wrapper {
  width:calc(100%/5);
  display: flex;
  padding:0 5px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e9e9e9;
  max-width: 1200px;
}

.movie__wrapper:hover{scale:1.05;    
  transition: 0.3s ease-in-out;
  }
.movie__img{width:300px;
  height:450px;}


.movie-card {
  background-color: #fff;
  width:300px;
  height:110px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
justify-content: center;
align-items: center;
 
}


.movie-card__container {
  padding: 10px 24px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (max-width:1520px){
  .movie__wrapper{width:calc(100%/4);}
}

@media (max-width:1200px){
  .landing__img{height:400px;}
  .landing__title{font-size:36px;}
  .landing__subtitle{font-size:20px;}
  .movie__wrapper{width:calc(100%/3);}
}

@media(max-width:768px){
  .landing__img{height:300px;}
  .landing__title{font-size:28px;}
  .landing__subtitle{font-size:18px;}
  .section__title{font-size:20px;}
  .filter__label{font-size:16px;}
  .movie__wrapper{width:calc(100%/2);}
}
@media(max-width:480px){
  .landing__container{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  .landing__img{height:250px;
     opacity:1;}
  .landing__title{font-size:28px;

    font-weight: 700;;
  }
  .landing__subtitle{font-size:16px;
    font-weight: 600;}
  .search{width:175px;
  margin-bottom: 16px;}
  .truncate{width:150px;
    font-size: 16px;}
  .input__wrapper{
    padding-right: 12px;
    padding-bottom: 12px;;
   position:none;
  justify-content: center;
  align-items: center;
  text-align: center
  ;}
  .section__filter{
    height: auto;
    padding: 16px;
  }
  .section__title{font-size:18px;
    }
  .filter__label{font-size:14px;
    width:150px;}
  .movie__wrapper{width:100%;
  justify-content: center;
  align-items: center;
  }
  .movies__loading .fa-spinner{color:#317ba2;
  font-size:100px;
  position:absolute;
  top:50%;
  left:35%;
  transform: translate(-40%, -40%);
  animation: spin 750ms linear infinite; 
  z-index:10; 
}


}