@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Science+Gothic:wght@100..900&display=swap');
*{margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }

html{scroll-behavior: smooth;}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9e9e9;
}

div{display: block;}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
 
}

button{cursor: pointer;
    color:black;
    height:20px;
    width:20px;}

h3{
  font-size: 20px;
  margin-bottom: 5px;
}
p {
  font-size: 18px;
  word-break: break-word;
  line-height: 2;
}

.hidden {
  display: none;
}

/* Landing-Search */

.landing__container{position: relative;
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0 auto;}

.landing__img{width:100%;
  display:block;
    height: 500px;
    opacity: .9;
    object-fit: cover;
  }

.input__wrapper {
  position:absolute;
  top: 50%;
  left:70%;
  transform: translate(-40%, -40%);

}

.landing__title{color:#fff;
  font-size:48px;
  font-weight:700;
  margin-bottom:20px;
  }
.landing__subtitle{color:#fff;
  margin-bottom:20px;
  line-height: 1.5;
    font-size:24px;
  } 

.search{position: relative;
  display: flex;
  align-items: center;
    width:300px;
    height:30px;
    border: 1px solid #ccc;
    border-radius: 5px;}

.truncate{width:250px;
  height:30px;
  overflow: hidden;
  padding:10px;
  font-size: 18px;;

}

.search__button{position: absolute;
  right:0;
  font-size: 18px;
  height:29px;
  width:50px;
  border:none;
  background-color:#fff;
  color:black;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  
}
/* Movie Filter */
.section__filter{
  width:100%;
  display:flex;
  justify-content: space-between;
    align-items: center;
  height:100%;
  margin-bottom:20px;
  margin-top:0 auto;
  padding:20px ;
  background-color: #236487;
}

.section__title{
  color:#fff;
  padding-left:5px;
  font-size:28px;
  font-weight:600;

}

.filter__label{color:black;
  padding-right:5px;
  font-size:24px;
  font-weight:500;
  width:200px;
  
}

/* Movie List */



.movie-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.movies__loading .fa-spinner{color:#317ba2;
  font-size:100px;
  position:absolute;
  top:75%;
  left:50%;
  transform: translate(-50%, -50%);
  animation: spin 750ms linear infinite; 
  z-index:10; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.movie__wrapper {
    width:20%;
  display: flex;
  padding:0 50px;
  align-items: center;
  flex-direction: column;

  background-color: #e9e9e9;
  max-width: 1200px;
}

.movie__wrapper:hover{scale:1.05;    
  transition: 0.3s ease-in-out;
  }
.movie__img{width:100;
  height:300px;}


.movie-card {
  background-color: #fff;
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
justify-content: space-evenly;
 
}


.movie-card__container {
  padding: 10px 32px;
}

@media (max-width:1600px){
  .movie__wrapper{width:20%;}
}